header {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    border-radius: 15px;
}

nav {
    font-family: sans-serif;
    float: center;
    text-align: center;
    background-color: steelblue;
    border-radius: 15px;
    margin-bottom: -10px;
    
}

ul {
    padding-top: 4px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15;
    background-color: steelblue;
    
}

li {
    float: left;
}

li a {
    display: inline-block;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: cornflowerblue;
}


body {
    font-family: sans-serif;
    text-align: center;
}

.division1 {
    background-color: aliceblue;
    border-radius: 15px;
}

h1 { 
    color: orangered;
}

h2 {
    color: darkgray;
}

p {
    color: #595959;
}

form {
    color: #595959;
}


footer p{
    font-family: sans-serif;
    text-align: center;
    font-size: 12px;
    color: lightslategrey;
}
